DATABASE_URL="postgresql://postgres:password@localhost:5432/hostel_attendance?schema=public"
PORT=3000
CORS_ORIGIN="http://localhost:5173"
SMS_PROVIDER="fast2sms"
WHATSAPP_PROVIDER="fast2sms"
FAST2SMS_API_KEY="your-fast2sms-api-key"
FAST2SMS_WHATSAPP_PHONE_NUMBER_ID="1056204594240726"
FAST2SMS_WHATSAPP_TEMPLATE="sr_hostel_attendance"

